#canvas-draw
{
    position: absolute;
    top: 0;
    background: transparent;
    width: 99.8%;
    border: solid 1px;
}
#clear-area
{
    background:royalblue;
    position: absolute;
    top: 0;
    border-radius: 5px;
    width: 35px;
    height: 20px;
    border: solid 1px;
    z-index: 999999;
    margin-left: 1280px;
}
#clear-area:before
{
    content:"Clear";
    color: white;
}
#clear-area :hover
{
    background: skyblue;
    font-size: 20px;
}
#close-area
{
    background: royalblue;
    position: absolute;
    top: 0;
    width: 30px;
    height: 20px;
    border: solid 1px;
    border-radius: 5px;
    z-index: 999999;  
    margin-left: 35px;
    margin-left: 1318px;
    padding: 2px;
}
#close-area:before
{
    content:"X";
    color: white;
/*    padding-top: auto;*/
}
#close-area :hover
{
    background: skyblue;
    font-size: 20px;
}